.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.main img{
    height: 500px;
}
.review-btn{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 5px 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;

}